<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <test verbose="2" preserve-order="true" name="Firefox">
    	<parameter name="browser" value="Firefox"/>
        <classes>
            <class name="org.example.GenaricAutomation">
                <methods>
                    <include name="Test"/>
                </methods>
            </class>
        </classes>
    </test>
     <test verbose="2" preserve-order="true" name="Chrome">
    	<parameter name="browser" value="Chrome"/>
        <classes>
            <class name="org.example.GenaricAutomation">
                <methods>
                    <include name="Test"/>
                </methods>
            </class>
        </classes>
    </test>
     <test verbose="2" preserve-order="true" name="Edge">
    	<parameter name="browser" value="Edge"/>
        <classes>
            <class name="org.example.GenaricAutomation">
                <methods>
                    <include name="Test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>